<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">

    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text"></p>
    <form action="/secretss" method="POST">
      <input type="text" name="city" class="ghost-input" placeholder="Enter a city">
    </form>
    <hr>
    <div>
      <form action="/" method="POST">
        <input type="text" name="city" class="ghost-input" placeholder="Enter a city">
      </form>

      <% if(city !== null)  {%>
      <p class="city"><%= city.title %></p>
      <% } %>
      <!-- <div class="result">
        <% if(temp !== null)  {%>
        <h1 class="temp"><%= temp %></h1>
        <% } %>

        <div class="icon-des">
          <% if(icon !== null)  {%>
          <img class="icon" src="http://openweathermap.org/img/w/<%= icon %>.png" alt="">
          <% } %>
          <% if(des !== null)  {%>
          <h3><%= des %></h3>
          <% } %>
        </div>

        <% if(city !== null)  {%>
        <p class="city"><%= city %></p>
        <% } %>

      </div> -->
    </div>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>